<header>
   <h1>Products</h1>

   <% admins_only do  %>
   <ul class="actions">
     <li>
       <%= link_to 'New Product', new_admin_product_path, class: "new" %>
     </li>
   </ul>
   <% end  %>

</header>

<div id="products">
  <% @products.each do |product| %>
     <h2><%= link_to product.name, product %></h2>
     <p><%= product.description %></p>
     <p><%= product.price %></p>
  <% end  %>
</div>
